*,*::after,*::before{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
:root{
--bg-color: #FFDD33; 
--bg-sec-color: #CCAA00;
--border-color: #665500;
--input-color: #FFEE99;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--bg-color);
    
}

h1 {
    font-size: 3.2rem;
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    color: white;
}

.main{
    border: 0.01rem solid var(--border-color);
    border-radius: 5%;
    background: var(--bg-sec-color);
    box-shadow: 0.5rem 0.5rem;
}

p{
    padding: 1rem;
}

.form,label{
    padding: 1rem 1rem 1rem 1rem;
}
input{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    background-color: var(--input-color);
    border-radius: 5px;
    border: 0.1rem solid var(--border-color) 
}