*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    width: 350px;
    min-width: 300px;
    
}
fieldset{

}
legend{
    margin: auto;

}

label{
    display: block;
    padding-top: 0.25rem;
}

input{
    width: 100%;
    display: block;
    margin-top: 0.5rem
}

.row-1, .row-2, .row-3, .row-4, .row-5,.row-6{
    display: block;
    margin: 1rem;
    padding: 0.25rem;
    
}
.submit {
    width: 100%;
    margin-right: 0;
}

h1{
    font-size: 1.7rem;
}

.row-2{
    margin-bottom: 0;
    padding-bottom: 0;
}

.row-3{
   padding-top: 0;
    margin-top: 0rem;
}
.street {
    max-width: 50%;
    float: left;
}

.houseNumber{
    max-width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.flatNumber{
    max-width: 20%;
    
}

